*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counts{
    box-shadow: 4px 3px 3px 4px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 80px 60px;

    animation: rotates 4s ease-in ;
}

@keyframes rotates {
    0%{
        transform: rotateY(180deg);
    }
    50%{
        transform: rotateY(360deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

h2{
    font-size: 100px;
}

button{
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 2px gray;
    cursor: pointer;
     color: white;
}

.btn-red{
    background-color: red;
}

.btn-green{
    background-color: green;
}

.btn-blue{
    background-color: blue;
}

.btn-red:active{
    transform: translateY(-2px);
    background-color: green;
}

.btn-blue:active{
    transform: translateY(2px);
    background-color: red;
}

.btn-green:active{
    transform: translateY(-2px);
    background-color: blue;
}